<div class="card col-md-6 border rounded-lg text-center shadow p-5 mt-5 bg-white rounded">
  <div class="card-body">
    <%= image_tag "schedule.svg", alt: "schedule", class: "img-fluid mb-4" %>
    <h4 class="card-title">It looks like you haven't scheduled a session yet!</h4>
    <%= link_to "Schedule a new session", new_meeting_path, class: "btn btn-custom2 py-3 px-4" %>
  </div>
</div>